In [1]:
import pandas as pd
import numpy as np

In [2]:
section = pd.read_csv('lines_to_detectors.csv')
flow = pd.read_csv('Flow_processed_city.csv')
section_no_na = section.dropna()
section.tail()

,OBJECTID,Shape_Length,Name,Direction,2013,2017,2019
51,71,0.014035,Washington Mission PPP WB,WB,41 - 42 - 58,117,175
52,72,0.011693,Pine Mission PPP WB,WB,NaN,NaN,148
53,73,0.011648,Pine Mission PPP EB,EB,NaN,NaN,147
54,74,0.022306,Pine PPP I680 WB,WB,NaN,106 - 107,150
55,75,0.022289,Pine PPP I680 EB,EB,NaN,105 - 108,149

In [3]:
section_no_na.tail()

,OBJECTID,Shape_Length,Name,Direction,2013,2017,2019
39,59,0.024795,PPP Durham Washington NB,NB,35,95,157
48,68,0.019494,Washington PPP Driscoll WB,WB,54 - 56,119,173
49,69,0.019522,Washington PPP Driscoll EB,EB,11 - 53 - 55,120,174
50,70,0.014000,Washington Mission PPP EB,EB,9 - 10 -57,118,176
51,71,0.014035,Washington Mission PPP WB,WB,41 - 42 - 58,117,175

In [7]:
w = open('flow_processed_section.csv', 'w')

secnp = section_no_na.to_numpy()

legend_tmp = section_no_na.columns.to_numpy()
# print(legend_tmp)
legend = legend_tmp[0] + "," + legend_tmp[2] + "," + legend_tmp[3] + ",day 1 2013,day 1 2017,day 1 2019" 

for y in range(3):
    if y == 0:
        year = "2013"
    if y == 1:
        year ='2017'
    if y == 2:
        year ='2019'
    for k in range(3):
        for i in range(24):
            for j in range(4):
                legend = legend + ",Day " + str(k+1) + " - " + year + " - "+ str(i) + ":" + str(15*j)
# print(legend)
w.write(legend)

for l in secnp:
    det2013 = 0
    det2017 = 0
    det2019 = 0
    print(l)
    if "-" not in l[4]:
        det2013 = (int) (l[4])
        data2013 = flow[flow['Id'] == det2013].to_numpy()[0][4:]
    if "-" not in l[5]:
        det2017 = (int) (l[5])
        data2017 = flow[flow['Id'] == det2017].to_numpy()[0][4:]
    if "-" not in l[6]:
        det2019 = (int) (l[6])
        data2019 = flow[flow['Id'] == det2019].to_numpy()[0][4:]
    if det2013 * det2017 * det2019!=0:
        print((det2013, det2017, det2019))
        if (data2013.shape[0] != 289) or (data2017.shape[0] != 289) or (data2019.shape[0] != 289):
            print("**** Did not process the line because not three days where recorded")
        else:
            w.write("\n")
            day2013 = data2013[0]
            day2017 = data2017[0]
            day2019 = data2019[0]
            strflow = ""
            for f in data2013[1:]:
                strflow += str(f) + ","
            for f in data2017[1:]:
                strflow += str(f) + ","
            for f in data2019[1:]:
                strflow += str(f) + ","
            strflow = strflow[:-1]
            strflow = day2013 + "," + day2017 + "," + day2019 + "," + strflow
            strflow = str(l[0]) + "," + l[2] + "," + l[3] + "," + strflow
            w.write(strflow)
    else:
        print('Did not process the line because of several detectors')
w.close()

[4 0.014691227 'Mission blvd WmSpr PPP SB' 'SB' '18' '84' '138']
(18, 84, 138)
[8 0.014910005 'Mission blvd WmSpr PPP SB' 'NB' '17' '83' '137']
(17, 83, 137)
[11 0.011642008 'AutoMailPkwy  FremontBlvd i680' 'WB' '2' '65' '122']
(2, 65, 122)
[12 0.011798771999999999 'AutoMailPkwy  FremontBlvd i680' 'EB' '1' '66'
 '121']
(1, 66, 121)
[13 0.011500208999999999 'SGrimmerBlvd FremontBlvd WarmSpringBlvd' 'WB'
 '40' '75' '159']
(40, 75, 159)
[14 0.011478128999999998 'SGrimmerBlvd FremontBlvd WarmSpringBlvd' 'EB'
 '39' '76' '160']
(39, 76, 160)
[15 0.00847602 'SGrimmerBlvd PPP MissionBlvd' 'WB' '15' '110' '130']
(15, 110, 130)
[16 0.008453921 'SGrimmerBlvd PPP MissionBlvd' 'EB' '16' '109' '129']
(16, 109, 129)
[17 0.009755851 'EwarrenAve  WSBlvd Sinclairfwy' 'WB' '47 - 48 - 49 - 50'
 '93 - 94 - 115 - 116' '169 - 170']
Did not process the line because of several detectors
[18 0.009759516 'EwarrenAve  WSBlvd Sinclairfwy' 'WB' '47 - 48 - 49 - 50'
 '93 - 94 - 115 - 116' '169 - 170']
Did not process the line because of several detectors
[21 0.009897369 'DiscrollRd WashtonBlvd PPP' 'NB' '5' '68' '127']
(5, 68, 127)
[22 0.010007065 'DiscrollRd WashtonBlvd PPP' 'SB' '6' '67 - 73 - 74' '128']
Did not process the line because of several detectors
[23 0.011826733 'DiscrollRd PPP MissionBlvd' 'NB' '4' '69' '126']
(4, 69, 126)
[24 0.011743333 'DiscrollRd PPP MissionBlvd' 'SB' '3' '70' '125']
(3, 70, 125)
[32 0.018065508 'MissionBlvd DiscrollRd  I680' 'NB' '13' '79' '131']
(13, 79, 131)
[33 0.017238414 'MissionBlvd DiscrollRd  I680' 'SB' '14' '80' '132']
(14, 80, 132)
[34 0.008185724 'PPP Duram RD SGrimmer' 'WB' '29' '103' '153']
(29, 103, 153)
[35 0.00822313 'PPP Duram RD SGrimmer' 'EB' '30' '104' '154']
(30, 104, 154)
[36 0.009886372 'OsgoodRd SGrimmer AutoMail Pkwy' 'NB' '25' '89' '143']
(25, 89, 143)
[37 0.009694143 'OsgoodRd SGrimmer AutoMail Pkwy' 'SB' '26' '90' '144']
(26, 90, 144)
[38 0.022024137000000003 'OsgoodRd  WashtonBlvd AutoPwky' 'NB' '27' '91'
 '145']
(27, 91, 145)
[39 0.022079118 'OsgoodRd  WashtonBlvd AutoPwky' 'SB' '28 - 59 - 60' '92'
 '146']
Did not process the line because of several detectors
[40 0.020056117 'DurhamRd I680 MissionBlv' 'WB' '8' '71' '124']
(8, 71, 124)
[41 0.02015943 'DurhamRd I680 MissionBlv' 'EB' '7' '72' '123']
(7, 72, 123)
[42 0.011908783000000001 'PPP SGrimmer MissionBlvd' 'NB' '33' '101' '155']
(33, 101, 155)
[43 0.012205278 'PPP SGrimmer MissionBlvd' 'SB' '34' '102' '156']
(34, 102, 156)
[46 0.017705314 'PPP MIssionBlvd I680' 'NB' '32' '99' '171']
(32, 99, 171)
[47 0.017034071 'PPP MIssionBlvd I680' 'SB' '31' '100' '172']
(31, 100, 172)
[48 0.00311898 'Warm Spring Warren Mission blvd' 'NB' '43' '111' '163']
(43, 111, 163)
[49 0.003057298 'Warm Spring Warren Mission blvd' 'SB' '44 - 51 - 52'
 '112' '164']
Did not process the line because of several detectors
[50 0.017291009 'Warm Spring Mission blvd Grimmer NB' 'NB' '45' '113'
 '165 - 167']
Did not process the line because of several detectors
[51 0.01738029 'Warm Spring Mission blvd Grimmer SB' 'SB' '46' '114'
 '166 - 168']
Did not process the line because of several detectors
[52 0.008483885 'Mission blvd Washington I680 NB' 'NB' '19' '85' '135']
(19, 85, 135)
[53 0.008936010999999999 'Mission blvd Washington I680 SB' 'SB' '20' '86'
 '136']
(20, 86, 136)
[54 0.00754271 'Mission blvd Pine Washington SB' 'SB' '24' '88' '142']
(24, 88, 142)
[55 0.00757042 'Mission blvd Pine Washington NB' 'SB' '23' '87' '141']
(23, 87, 141)
[56 0.009505142 'Grimmer Osgood PPP WB' 'WB' '37' '78' '162']
(37, 78, 162)
[57 0.009506034 'Grimmer Osgood PPP EB' 'EB' '38' '77' '161']
(38, 77, 161)
[58 0.024848225 'PPP Durham Washington SB' 'SB' '36' '96' '158']
(36, 96, 158)
[59 0.02479534 'PPP Durham Washington NB' 'NB' '35' '95' '157']
(35, 95, 157)
[68 0.019494196000000002 'Washington PPP Driscoll WB' 'WB' '54 - 56' '119'
 '173']
Did not process the line because of several detectors
[69 0.019522192 'Washington PPP Driscoll EB' 'EB' '11 - 53 - 55' '120'
 '174']
Did not process the line because of several detectors
[70 0.013999803 'Washington Mission PPP EB' 'EB' '9 - 10 -57' '118' '176']
Did not process the line because of several detectors
[71 0.014035282 'Washington Mission PPP WB' 'WB' '41 - 42 - 58' '117'
 '175']
Did not process the line because of several detectors

In [5]:
flow.head()

,Year,Name,Id,Direction,Day 1,Day 1 - 0:0,Day 1 - 0:15,Day 1 - 0:30,Day 1 - 0:45,Day 1 - 1:0,...,Day 3 - 21:30,Day 3 - 21:45,Day 3 - 22:0,Day 3 - 22:15,Day 3 - 22:30,Day 3 - 22:45,Day 3 - 23:0,Day 3 - 23:15,Day 3 - 23:30,Day 3 - 23:45
0,2013,Auto Mall Pkwy betw. Fremont & I680.xlsx,1,EB,2013-02-12,20,27,13,20,16,...,115.0,98.0,86.0,80.0,49.0,69.0,60.0,56.0,46.0,38.0
1,2013,Auto Mall Pkwy betw. Fremont & I680.xlsx,2,WB,2013-02-12,36,25,18,20,18,...,136.0,111.0,115.0,88.0,64.0,70.0,57.0,52.0,50.0,38.0
2,2013,Driscoll Rd betw. Mission & PPP.xlsx,3,NB,2013-01-15,8,10,6,7,7,...,45.0,33.0,39.0,29.0,35.0,35.0,24.0,22.0,12.0,17.0
3,2013,Driscoll Rd betw. Mission & PPP.xlsx,4,SB,2013-01-15,4,2,3,1,4,...,13.0,21.0,16.0,6.0,19.0,9.0,11.0,7.0,7.0,6.0
4,2013,Driscoll Rd betw. PPP & Washington.xlsx,5,NB,2013-02-12,5,9,2,4,4,...,32.0,36.0,27.0,20.0,9.0,2.0,9.0,14.0,0.0,7.0